<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title>Server-app</title>
</head>
<body>
    {{> header}}
    <p>Hi,{{userName}} {{upperCase greeting}} !</p>
    
    {{> footer}}
</body>
</html>