<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Server-App</title>
    
</head>
<body>
    <h1>We will be right back soon!</h1>
    <h2>Under maintanence.</h2>
</body>
</html>